GestorParaVentaDeLoteria/GestorParaVentaDeLoteria.UI/Connected Services/ServicioDeSorteo/ServicioDeSorteo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioDeSorteo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56043/ServicioDeSorteo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56043/ServicioDeSorteo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56043/ServicioDeSorteo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GestorParaVentaDeLoteria.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioDeSorteo_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_ActivarSorteo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarSorteo" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_ActivarSorteo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarSorteoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_InactivarSorteo_InputMessage">
    <wsdl:part name="parameters" element="tns:InactivarSorteo" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_InactivarSorteo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InactivarSorteoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_ConsultarSorteo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSorteo" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_ConsultarSorteo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSorteoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_ListarHistoricoDeSorteo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHistoricoDeSorteo" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_ListarHistoricoDeSorteo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHistoricoDeSorteoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_ConsultarIdDeSorteoHistorico_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarIdDeSorteoHistorico" />
  </wsdl:message>
  <wsdl:message name="IServicioDeSorteo_ConsultarIdDeSorteoHistorico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarIdDeSorteoHistoricoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioDeSorteo">
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeSorteo/Listar" message="tns:IServicioDeSorteo_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeSorteo/ListarResponse" message="tns:IServicioDeSorteo_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeSorteo/Agregar" message="tns:IServicioDeSorteo_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeSorteo/AgregarResponse" message="tns:IServicioDeSorteo_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarSorteo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeSorteo/ActivarSorteo" message="tns:IServicioDeSorteo_ActivarSorteo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeSorteo/ActivarSorteoResponse" message="tns:IServicioDeSorteo_ActivarSorteo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InactivarSorteo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeSorteo/InactivarSorteo" message="tns:IServicioDeSorteo_InactivarSorteo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeSorteo/InactivarSorteoResponse" message="tns:IServicioDeSorteo_InactivarSorteo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSorteo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeSorteo/ConsultarSorteo" message="tns:IServicioDeSorteo_ConsultarSorteo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeSorteo/ConsultarSorteoResponse" message="tns:IServicioDeSorteo_ConsultarSorteo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarHistoricoDeSorteo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeSorteo/ListarHistoricoDeSorteo" message="tns:IServicioDeSorteo_ListarHistoricoDeSorteo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeSorteo/ListarHistoricoDeSorteoResponse" message="tns:IServicioDeSorteo_ListarHistoricoDeSorteo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarIdDeSorteoHistorico">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeSorteo/ConsultarIdDeSorteoHistorico" message="tns:IServicioDeSorteo_ConsultarIdDeSorteoHistorico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeSorteo/ConsultarIdDeSorteoHistoricoResponse" message="tns:IServicioDeSorteo_ConsultarIdDeSorteoHistorico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioDeSorteo" type="tns:IServicioDeSorteo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IServicioDeSorteo/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IServicioDeSorteo/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarSorteo">
      <soap:operation soapAction="http://tempuri.org/IServicioDeSorteo/ActivarSorteo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InactivarSorteo">
      <soap:operation soapAction="http://tempuri.org/IServicioDeSorteo/InactivarSorteo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSorteo">
      <soap:operation soapAction="http://tempuri.org/IServicioDeSorteo/ConsultarSorteo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHistoricoDeSorteo">
      <soap:operation soapAction="http://tempuri.org/IServicioDeSorteo/ListarHistoricoDeSorteo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarIdDeSorteoHistorico">
      <soap:operation soapAction="http://tempuri.org/IServicioDeSorteo/ConsultarIdDeSorteoHistorico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDeSorteo">
    <wsdl:port name="BasicHttpBinding_IServicioDeSorteo" binding="tns:BasicHttpBinding_IServicioDeSorteo">
      <soap:address location="http://localhost:56043/ServicioDeSorteo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>